#navigation {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(50, 50, 50, 255), stop:1 rgba(190, 190, 190, 255));
}

#navigation QPushButton {
    color: black;
    border: 1px solid #555;
    border-radius: 11px;
    padding: 5px;
    background: qradialgradient(cx: 0.3, cy: -0.4,
    fx: 0.3, fy: -0.4,
    radius: 1.35, stop: 0 #e3e67e, stop: 1 #f3f5d0);
    min-width: 80px;
    min-height: 40px;
    font: 14px;
}

#navigation QToolButton {
    color: white;
    font-weight: bold;
    min-width: 90px;
    font: 10pt;
}
